@font-face {
  font-family: 'TAN MERINGUE';
  src: url('fonts/TAN MERINGUE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #0E0E0E;
    color: #d8d7d7;
    font-family: 'Arimo';
}

main{
    text-align: center;
}

.logo{
    font-family: 'TAN MERINGUE';
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.main{
    width: 100%;
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text{
    max-width: 90%;
    font-family: 'TAN MERINGUE';
    font-size: 50pt;
}

.intro{
    width: 80%;
    padding: 20px;
    font-family: "Arimo";
    line-height: 1.4;
}

.gallery-main{
   margin-top: 100px;
  /* Enables horizontal scrolling */
  overflow-x: auto;
  /* Hides the scrollbar for Chrome, Safari, and Edge */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Arranges images horizontally with spacing */
  display: none;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.img-main{
    margin-top: 100px;
    width: 90vw;
    height: 500px;
    margin-bottom: 10px;
    object-fit: cover;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #878787;

}

.img-1{
    width: 300px;
    height: 500px;
    object-fit: cover;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #878787;
}

.img-2{
    width: 300px;
    height: 400px;
    object-fit: cover;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #878787;
}

.img p{
    margin-top: 5px;
    text-align: start;
}

.o{
    color: #5493D6;
}

.a{
    color: rgb(255, 59, 59);
}

.about{
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about-me{
    font-family: 'Arimo';
}

.portfolio{
    justify-content: space-evenly;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.p-img-1{
    max-width: 90vw;
    height: 400px;
    object-fit: cover;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #878787;
    margin-top: 20px;
}

.p-img-2{
    max-width: 90vw;
    height: 400px;
    object-fit: cover;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #878787;
    margin-top: 20px;
}

.p-img p{
    margin-top: 10px;
    text-align: start;
    font-family: 'Arimo';
}

@media (min-width: 550px) {
    .intro{
        width: 70%;
    }

    .about-me{
        width: 50%;
    }
}


@media (min-width: 600px) {
    .img-main-div{
        display: none;
    }

    .gallery-main{
        display: flex;
    }
}


